.home {
    padding: 0 2rem;
}

.add-bill {
    margin-top: 4rem;
    width: 100%
}

.add-bill-btn {
    background-color: #17c95f !important;
}

.add-bill-btn:hover {
    background-color: #104023 !important;

}


.add-bill-modal {
    height: 22rem;
    width: 20rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
}

.add-bill-modal-btns {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
}

.date-input {
    padding: 5px;
    border-radius: 0.2rem;
    border: 1px solid gray !important;
    width: 100%;
    font-size: 1rem;
    margin-top: 1rem;
    height: 2.5rem;
    cursor: pointer;
}
.date-input:focus{
    outline: none !important;
   box-shadow: green 0 0 5px;
}
.modal-delete {
    height: 10rem;
    width: 20rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
}

.modal-delete-btns{
   margin-top:4rem;
    display: flex;
    justify-content: flex-end;
}
